<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Protected Shops Update Documents</title>
        <link href=" href="{{ plugin_path('ProtectedShopsForPlenty') }}/css/flat-ui.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            {% if success %}
                {% for docs in updated %}
                    <div class="col-xs-3">
                        <div class="tile">
                            <h3 class="tile-title">{{ docs.type }}</h3>
                            <p>{% if docs.success  %}Succesfully updated{% else %} Not updated{% endif %}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>