
<table>
    <form action="/protectedshops/legal-texts/update" method="GET">
        <tr>
            <th></th>
            <th>Dokument</th>
            <th>Letzte Synchronisation</th>
            <th>Letzte Aktuell</th>
        </tr>
        {% for legalText in legalTexts %}
            <tr>
                <td>
                    <input type="checkbox" name="psLegalTexts[]" value="{{ legalText.legalText }}" {% if legalText.shouldSync %}checked="checked"{% endif %}>
                </td>
                <td>
                    {{ legalText.updated }}
                </td>
                <td>
                    {{ legalText.success }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><input type="submit" class="btn btn-primary btn-large btn-block" value="Rechstecte jetzt aktualisieren" /></td>
        </tr>
    </form>
</table>
<script>
    var xmlhttp;
    var url = "/protectedshops/legal-texts/update";
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function(){
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
            var tableHolder = document.getElementById("legal_texts_table_holder");
            tableHolder.innerHTML = xmlhttp.responseText;
        }
    }
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
</script>