<style>
    #legalTextsForm table {
        border-collapse: collapse;
        width: 40%;
    }

    #legalTextsForm  th, td {
        text-align: left;
        padding: 8px;
    }

    #legalTextsForm  tr:nth-child(even){background-color: #f2f2f2}

    #legalTextsForm input[type="submit"] {
        font-size: 22px;
        color: white;
        background-color: #f29c41;
        border-radius: 2px;
    }
</style>
<form id="legalTextsForm" action="/protectedshops/legal-texts/update" method="GET">
    <table>
        <tr>
            <th></th>
            <th>Dokument</th>
            <th>Letzte Synchronisation</th>
            <th>Letzte Aktuell</th>
        </tr>
        {% for legalText in legalTexts %}
            <tr>
                <td>
                    <input type="checkbox" name="psLegalTexts[]" value="{{ legalText.legalText }}" {% if legalText.shouldSync %}checked="checked"{% endif %}>
                </td>
                <td>
                    {{ legalText.legalText }}
                </td>
                <td>
                    {{ legalText.updated|date("m/d/Y") }}
                </td>
                <td>
                    {{ legalText.success }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><input type="submit" class="btn btn-primary btn-large btn-block" value="Rechstecte jetzt aktualisieren" /></td>
        </tr>
    </table>
</form>