<style>
    #legalTextsForm table {
        border-collapse: collapse;
        width: 40%;
    }

    #legalTextsForm  th, td {
        text-align: left;
        padding: 8px;
    }

    #legalTextsForm  tr:nth-child(even){background-color: #f2f2f2}

    #textsSubmitButton {
        background: url('ps/button_rechtstexte-jetzt-aktualisieren.png') no-repeat;
        width: 344px;
        height: 44px;
        border-radius: 9px;
    }
</style>
<form id="legalTextsForm" action="/protectedshops/legal-texts/update" method="GET">
    <table>
        <tr>
            <th></th>
            <th>Dokument</th>
            <th>Letzte Synchronisation</th>
            <th>Letzte Aktuell</th>
        </tr>
        {% for legalText in legalTexts %}
            <tr>
                <td>
                    <input type="checkbox" name="psLegalTexts[]" value="{{ legalText.legalText }}" {% if legalText.shouldSync %}checked="checked"{% endif %}>
                </td>
                <td>
                    {{ legalText.legalText }}
                </td>
                <td>
                    {{ legalText.updated|date("m/d/Y") }}
                </td>
                <td>
                    {{ legalText.success }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit" id="textsSubmitButton"></button>
</form>